<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>

<body>
    <h2>Hello {{name}}! </h2>
    <p>Congratulations, you have registered account in our website: <a href="{{website}}">{{website}}</a></p>
    <p>Here is your code to verify your account: </p>
    <h2>{{token}}</h2>
    {{!-- <a href="{{hrefVerify}}">Click here to verify your account</a> --}}
    <p>Thanks you !!!!</p>
</body>

</html>